seesion<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get seesion</title>
</head>
<body>
    Your seesion is here {{name}}

            <hr>

    {% comment %} how can get key of seesion{% endcomment %}
    {% for key in keys %}
        {{key}}
    {% endfor %}

    <hr>

    {% comment %} how can get items of seesion{% endcomment %}
    {% for item in items %}
        {{item}}
    {% endfor %}
    <hr>

    {% comment %} how can get defalut of seesion{% endcomment %}
    {% for a in age %}
        {{a}}
    {% endfor %}


</body>
</html>