<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body style="background-color: yellow;">
    <h1>about</h1>
    <p style="color: blue;"">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, neque, adipisci aliquam obcaecati possimus velit deleniti aspernatur ea consequatur placeat voluptates ducimus asperiores iusto temporibus exercitationem tempora sequi vitae sit.</p>
</body>
</html>