<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Day-2 of 90 Days challenge </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    </head>
    <body>
        <h1/>This is the Day-3 of my 90 Days django learning challenge<h1>
        <h2/>today learning about load static files <h2>
       




        <script src="" async defer></script>
    </body>
</html>