<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>this is profile of {{name}} </h1>
       <hr>
       <h1>If user have permission then show buttons </h1>
       <hr>


        {% if perms.enroll.add_blog %}
            <a href="">Add</a>        <br>
        {% endif %}

        {% if perms.enroll.delete_blog %}
            <a href="">Delete</a>        <br>
        {% endif %}

        {% if perms.enroll.change_blog %}
            <a href="">Change</a>        <br>
        {% endif %}

        {% if perms.enroll.view_blog %}
            <a href="">View</a>        <br>
        {% endif %}



       <hr>
       <a href="{% url 'user_logout' %}">logout</a> </br> </br>
       <a href="{% url 'changepass' %}">Change Password With Old Password</a>   </br> </br>
       <a href="{% url 'changepass2' %}">Change Password Without Old Password</a>
        <script src="" async defer></script>
    </body>
</html>