<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>this is profile </h1>{{name}}


    <form action="" method="post" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for e in form.non_field_errors %}
                {{e}}
            {% endfor %}
        {% endif %}

        {% for f in form %}
            {{f.label_tag}}
            {{f}}
            {{f.errors|striptags}} <br> <br>
        {% endfor %}
        <button type="submit">save</button>
    </form>

       <a href="{% url 'user_logout' %}">logout</a> </br> </br>
       <a href="{% url 'changepass' %}">Change Password With Old Password</a>   </br> </br>
       <a href="{% url 'changepass2' %}">Change Password Without Old Password</a>




        <script src="" async defer></script>
    </body>
</html>