<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UserCreationForm</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    
    <form action="" method="post" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for e in form.non_field_errors %}
                {{e}}
            {% endfor %}
        {% endif %}

        {% for f in form %}
            {{f.label_tag}}
            {{f}}
            {{f.errors|striptags}} <br> <br>
        {% endfor %}
        <button type="submit">SUbmit</button>
    </form>
        <a href="{% url 'user_login' %}">Login</a>

    {% if messages %}
        {% for msg in messages %}
            <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{msg}}</small>
        {% endfor %}
    {% endif %}
        
    </body>
</html>