<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>set session</title>
</head>
<body>
    <h1>setting session</h1>
   
   <hr>
   working as project
   <hr>

    <h1> this is project based on session framework , just like in bank web when user do not intrect with web page and after some time session has been expired . this project base on this if your session also expired after 20seconds </h1>
</body>
</html>